include ./mixins
html
  head
    link(href="assets/css/style.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0")
  body
    .header
      .container
        .search
          p submit story!!!
        .menu
          a.menu-link(href="#" target="_blanck") hello
          a.menu-link(href="#" target="_blanck") hello
          a.menu-link(href="#" target="_blanck") hello
          a.menu-link(href="#" target="_blanck") hello
          a.menu-link(href="#" target="_blanck") hello
        .social-cont
          a.social-link(href="#")
            i.fa.fa-close
          a.social-link(href="#")
            i.fa.fa-twitter
          a.social-link(href="#")
            i.fa.fa-facebook
