include ./components/header 
//-подключаем header
#list
.main-cont
  .modal
    button.button Click
    .hello Here is a child menu
  .modal
    button.button Click
    .hello Here is a child menu

  button.button.modal_button Modal win
  .black-back
  .modalWin
    span.modal-close X
    p hello

  include ./components/posts

include ./components/footer 
